@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Footer and layout fixes */
.selection\:bg-gray-800 *::selection {
  background-color: #1f2937;
}
